* {
  margin: 0;
  padding: 0;
}


 body {

  font-family:  Tahoma, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}


/*//////////////////////////SECTION MAINE////////////////////////*/

.main {
  background: url(images/bgHeader.jpg) no-repeat center;
  background-size: cover;
  /*! height: 100vh; */
  min-height: 672px;
  /*! position: relative; */
  display: flex;
  justify-content: center;
  background-color: #dff65f;
  transition: width 1s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1060px;
  width: 100%;
  min-height: 600px;
}

.wrapper-gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  height: 735px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo a {
  font-size: 23px;
  position: relative;
  bottom: 45px;
}

.content {
  align-self: baseline;
  flex-grow: 1;
}

.content h3 {
  font-size: 25px;
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
}

.content h3 span {
  font-size: 66px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.content p {
  font-size: 15px;
  color: #a4a399;
  font-family: 'Roboto Regular', sans-serif;
}


/*//////////////////////////SECTION GALLERY////////////////////////*/

.gallery {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  height: 735px;
}

.gallery-overlay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  height: inherit;
  align-content: flex-start;
  justify-content: space-between;
}

.gallery header {
  width: 70%;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.gallery header h3 {
  font-family: 'Roboto Lite', sans-serif;
  font-size: 30px;
  font-weight: 400;

}

.gallery header p {
  font-size: 14px;
  color: #898989;
  font-family: 'Roboto', sans-serif;
}

.gallery-image_1 {
  max-width: 100%;
  max-height: 508px;
}

.gallery-image_2 {
  max-width: 100%;
  /*height: 740px;*/
  position: relative;
  top: -231px;
}


/*//////////////////////////SECTION LOREM IPSUM////////////////////////*/

.lorem-ipsum {
  background: url(images/lorembg.jpg) no-repeat center;
  background-size: cover;
  /*! height: 100vh; */
  display: flex;
  justify-content: center;
}

.lorem-overlay {
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 326px;
}

.lorem-overlay a {
  margin-bottom: 15px;
  border: solid #a5a5a5 1px;
  padding: 2px 15px;
  font-size: 23px;
  font-family: 'Roboto Lite', sans-serif;
}

.lorem-overlay p {
  /*width: 30%;*/
  text-align: center;
  color: #a5a5a5;
  line-height: 25px;
  font-size: 13px;
  font-family: 'Roboto Lite', sans-serif;
}


/*//////////////////////////SECTION STATISTICS////////////////////////*/

.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statistics-overlay {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-around;
  /*padding-top: 50px;
  padding-bottom: 50px;*/
}

/*.statistics-overlay header {
  position: relative;
  top: -40px;
}*/

.statistics h2 {
  font-weight: normal;
  font-size: 30px;
  font-family: 'Roboto Lite', sans-serif;
}

.text {
  width: 98%;
  line-height: 25px;
}

.text h2 {
  align-self: baseline;
  padding-bottom: 10px;
  font-family: 'Roboto Lite', sans-serif;
}

.text p {
  font-size: 14px;
  color: #444;
  font-family: 'Roboto Lite', sans-serif;
}

.table {
  display: flex;
  width: 98%;
  justify-content: space-around;
  background-color: #f5f5f5;
  position: relative;
  top: -64px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.cell h3 {
  font-size: 28px;
  font-weight: bolder;
}

.cell {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*//////////////////////////SECTION VIDEO////////////////////////*/

.video {
  background: url(images/Layer32.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1018px;
}

.video-overlay {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

video {
  background-color: rgb(44, 44, 44);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.4);
  width: 780px;
  height: 440px;
  z-index: 75;
}

.video-overlay .header {
  color: #cdcfcd;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: -80px;
  border: solid #cdcfcd 1px;
  padding: 4px 14px;
  font-size: 23px;
}

.video-overlay p {
  align-self: center;
  text-align: center;
  color: #9ea099;
  line-height: 25px;
  font-size: 14px
}

@media screen and (max-width: 945px) {
  .gallery-image_2 {
    position: relative;
    top: 0;
    width: 100%;
  }
  .gallery header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

}
